/* Basic page styling */
body {
    font-family: sans-serif;
    background-color: #f5f5f5;
  }
  
  /* Container for the login form */
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #6aa3ee;
    border-radius: 10px;
    background-color:#6aa3ee ;
  }
  
  /* Form title */
  h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
  }
  
  /* Form styling */
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  /* Label styling */
  label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  /* Input field styling */
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 23px;
    align-items: center;
    
  }
  
  /* Button styling */
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
